{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="
    background: black;
    border-radius: 63px;
">
          <h5>𝕂𝕟𝕠𝕨𝕟 𝕗𝕠𝕣 𝕋𝕚𝕜𝕋𝕠𝕜 𝕒𝕟𝕕 𝕔𝕖𝕝𝕖𝕓-𝕚𝕟𝕤𝕡𝕚𝕣𝕖𝕕 𝕤𝕥𝕪𝕝𝕖𝕤.
          </h5>
          <p><mark>"I want everyone to wear what they want and mix it in their own way. That, to me, is what is
              modern."</mark>.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="
    background: lightslategray;
    border-radius: 63px;
">
          <h5>𝕻𝖑𝖆𝖙𝖋𝖔𝖗𝖒 𝖈𝖔𝖓𝖓𝖊𝖈𝖙𝖎𝖓𝖌 𝖉𝖊𝖘𝖎𝖌𝖓𝖊𝖗𝖘 𝖜𝖎𝖙𝖍 𝖒𝖆𝖓𝖚𝖋𝖆𝖈𝖙𝖚𝖗𝖊𝖗𝖘.
          </h5>
          <p><mark>"The difference between style and fashion is quality." – Giorgio Armani

            </mark></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/10.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="
    background: darkgrey;
    border-radius: 63px;
">

          <h5>𝓘𝓬𝓸𝓷𝓲𝓬 𝓼𝓾𝓻𝓯 𝓪𝓷𝓭 𝓪𝓬𝓽𝓲𝓸𝓷 𝓼𝓹𝓸𝓻𝓽𝓼 𝓫𝓻𝓪𝓷𝓭.
          </h5>
          <p><mark>"Fashion is instant language." – Miuccia Prada</mark></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-fluid my-4 px-0">
  <h1 class="my-2 text-center">𝕾𝖊𝖑𝖊𝖈𝖙 𝕱𝖗𝖔𝖒 𝕺𝖚𝖗 𝕽𝖆𝖓𝖌𝖊 𝕺𝖋 𝖒𝖊𝖓𝖚𝖘
  </h1>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/1111.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><mark>B𝕣𝕚𝕕𝕒𝕝 S𝕦𝕚𝕥</mark> 𝕒𝕧𝕒𝕚𝕝𝕒𝕓𝕝𝕖 𝕗𝕠𝕣 𝕤𝕒𝕝𝕖:
                𝕝𝕦𝕩𝕦𝕣𝕚𝕠𝕦𝕤 𝕗𝕒𝕓𝕣𝕚𝕔, 𝕤𝕥𝕦𝕟𝕟𝕚𝕟𝕘 𝕔𝕣𝕒𝕗𝕥𝕤𝕞𝕒𝕟𝕤𝕙𝕚𝕡, 𝕨𝕠𝕣𝕟 𝕠𝕟𝕔𝕖.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/14.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><mark>M𝕖𝕟’𝕤 W𝕖𝕕𝕕𝕚𝕟𝕘 D𝕣𝕖𝕤𝕤</mark> 𝕗𝕠𝕣 𝕤𝕒𝕝𝕖: 𝕓𝕝𝕒𝕔𝕜 𝕡𝕒𝕟𝕥
                𝕔𝕠𝕒𝕥 𝕨𝕚𝕥𝕙 𝕨𝕙𝕚𝕥𝕖 𝕤𝕙𝕚𝕣𝕥, 𝕖𝕝𝕖𝕘𝕒𝕟𝕥 𝕒𝕟𝕕 𝕣𝕖𝕒𝕕𝕪 𝕥𝕠 𝕨𝕖𝕒𝕣.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/15.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><mark>F𝕒𝕟𝕔𝕪 O𝕧𝕖𝕣𝕔𝕠𝕒𝕥</mark> 𝕒𝕧𝕒𝕚𝕝𝕒𝕓𝕝𝕖 –
                𝕤𝕠𝕡𝕙𝕚𝕤𝕥𝕚𝕔𝕒𝕥𝕖𝕕 𝕕𝕖𝕤𝕚𝕘𝕟, 𝕚𝕕𝕖𝕒𝕝 𝕗𝕠𝕣 𝕨𝕖𝕕𝕕𝕚𝕟𝕘𝕤 𝕒𝕟𝕕 𝕖𝕧𝕖𝕟𝕥𝕤.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/16.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><mark>H𝕖𝕣𝕚𝕥𝕒𝕘𝕖-S𝕥𝕪𝕝𝕖 P𝕒𝕟𝕥 C𝕠𝕒𝕥 </mark> 𝕗𝕠𝕣 𝕤𝕒𝕝𝕖 –
                𝕣𝕖𝕗𝕚𝕟𝕖𝕕 𝕕𝕖𝕤𝕚𝕘𝕟 𝕨𝕚𝕥𝕙 𝕒 𝕥𝕣𝕒𝕕𝕚𝕥𝕚𝕠𝕟𝕒𝕝 𝕥𝕠𝕦𝕔𝕙.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/21.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><mark>W𝕠𝕞𝕖𝕟'𝕤 𝕜𝕒𝕞𝕖𝕖𝕫 𝕔𝕠𝕝𝕝𝕖𝕔𝕥𝕚𝕠𝕟</mark> 𝕗𝕠𝕣 𝕤𝕒𝕝𝕖 –
                𝕤𝕥𝕪𝕝𝕚𝕤𝕙 𝕕𝕖𝕤𝕚𝕘𝕟𝕤, 𝕓𝕖𝕒𝕦𝕥𝕚𝕗𝕦𝕝 𝕗𝕒𝕓𝕣𝕚𝕔𝕤, 𝕒𝕟𝕕 𝕖𝕝𝕖𝕘𝕒𝕟𝕥
                𝕤𝕥𝕚𝕥𝕔𝕙𝕚𝕟𝕘, 𝕡𝕖𝕣𝕗𝕖𝕔𝕥 𝕗𝕠𝕣 𝕔𝕒𝕤𝕦𝕒𝕝 𝕒𝕟𝕕 𝕗𝕠𝕣𝕞𝕒𝕝 𝕨𝕖𝕒𝕣.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img src="static/img/13.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><mark>S𝕥𝕪𝕝𝕚𝕤𝕙𝕝𝕪 D𝕣𝕖𝕤𝕤𝕖𝕕 M𝕒𝕟𝕟𝕖𝕢𝕦𝕚𝕟</mark> 𝕗𝕖𝕒𝕥𝕦𝕣𝕚𝕟𝕘 𝕒
                𝕡𝕚𝕟𝕜 𝕔𝕠𝕒𝕥 𝕡𝕒𝕚𝕣𝕖𝕕 𝕨𝕚𝕥𝕙 𝕒 𝕧𝕚𝕓𝕣𝕒𝕟𝕥 𝕞𝕦𝕝𝕥𝕚𝕔𝕠𝕝𝕠𝕣𝕖𝕕 𝕤𝕔𝕒𝕣𝕗 –
                𝕡𝕖𝕣𝕗𝕖𝕔𝕥 𝕗𝕠𝕣 𝕒 𝕔𝕙𝕚𝕔 𝕝𝕠𝕠𝕜!

              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>

                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>
</div>


{% endblock body %}
{% comment %} <div class="carousel-caption d-none d-md-block" style="
    background: black;
    border-radius: 63px;
"> {% endcomment %}